# cPanel Node.js Application Değişkenleri
NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://www.erdoganpalet.com.tr
PORT=3000

# SMTP E-posta Gönderim Ayarları (cPanel e-posta hesabı veya SMTP sunucu bilgileri)
SMTP_HOST=mail.erdoganpalet.com.tr
SMTP_PORT=465
SMTP_USER=info@erdoganpalet.com.tr
SMTP_PASS=Buraya_Email_Sifresi_Yazilacak
SMTP_FROM=info@erdoganpalet.com.tr
CONTACT_RECEIVER_EMAIL=info@erdoganpalet.com.tr
