# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
/.next/
/out/
/build/

# Environment files
.env
.env*.local
.env.development
.env.production
.env.test

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archives / Large Zip dumps
*.zip
*.tar.gz
*.tgz

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing
/coverage/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
